# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
.eslintcache
.vite/
*.tsbuildinfo

# Yarn
.yarn/install-state.gz
